<%- include('../../partials/header'); %>

<h1>ドリンクの削除</h1>
<form action="" method="get">
  <input type="hidden" name="_method" value="put" />

  <label for="id">削除したいドリンクのid（必須）</label>
  <input type="text" name="id" />

  <input type="submit"></input>
</form>
<%- include('../../partials/footer'); %>
