<%- include('../../partials/header'); %>
<h2>admin</h2>
<a href="/admin/post">ドリンクを追加する</a>
<a href="/admin/put">ドリンクを編集する</a>
<a href="/admin/delete">ドリンクを削除する</a>
<%- include('../../partials/footer'); %>
